In [84]:
import pandas as pd
!pip install geopandas
import geopandas as gpd

Requirement already satisfied: geopandas in /usr/local/lib/python3.13/site-packages (1.1.1)
Requirement already satisfied: numpy>=1.24 in /usr/local/lib/python3.13/site-packages (from geopandas) (2.1.3)
Requirement already satisfied: pyogrio>=0.7.2 in /usr/local/lib/python3.13/site-packages (from geopandas) (0.11.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.13/site-packages (from geopandas) (24.2)
Requirement already satisfied: pandas>=2.0.0 in /usr/local/lib/python3.13/site-packages (from geopandas) (2.2.3)
Requirement already satisfied: pyproj>=3.5.0 in /usr/local/lib/python3.13/site-packages (from geopandas) (3.7.2)
Requirement already satisfied: shapely>=2.0.0 in /usr/local/lib/python3.13/site-packages (from geopandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.13/site-packages (from pandas>=2.0.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.13/site-packages (from pandas>=2.0.0->geopandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.13/site-packages (from pandas>=2.0.0->geopandas) (2025.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.13/site-packages (from pyogrio>=0.7.2->geopandas) (2025.1.31)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=2.0.0->geopandas) (1.17.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: pip install --upgrade pip

## Measurement Type

In [85]:
df_type = pd.read_csv("data/data-1761719326394.csv").rename(columns={"code": "variable_code"})
# df_type.to_csv("output/dt_meas_type.csv", index=False)
df_type

,variable_id,variable_code,name,unit_code,unit_symbol,unit_name,description,created_at,updated_at
0,1,air_humidity,Air humidity,percent,%,NaN,NaN,2025-10-09 15:07:06.75375+00,2025-10-09 15:07:06.75375+00
1,2,air_pressure,Air pressure,hectopascal,hPa,NaN,NaN,2025-10-09 15:07:06.75375+00,2025-10-09 15:07:06.75375+00
2,3,air_temperature,Air temperature,degree Celsius,°C,NaN,NaN,2025-10-09 15:07:06.75375+00,2025-10-09 15:07:06.75375+00
3,4,leaf_wetness,Leaf wetness,minute,min,NaN,NaN,2025-10-09 15:07:06.75375+00,2025-10-09 15:07:06.75375+00
4,5,rainfall,Rainfall,millimetre,mm,NaN,NaN,2025-10-09 15:07:06.75375+00,2025-10-09 15:07:06.75375+00
5,6,soil_humidity,Soil humidity,percent,%,NaN,NaN,2025-10-09 15:07:06.75375+00,2025-10-09 15:07:06.75375+00
6,7,soil_temperature,Soil temperature,degree Celsius,°C,NaN,NaN,2025-10-09 15:07:06.75375+00,2025-10-09 15:07:06.75375+00
7,8,solar_radiation,Solar radiation,watt per square metre,W/m2,NaN,NaN,2025-10-09 15:07:06.75375+00,2025-10-09 15:07:06.75375+00
8,9,wind_direction,Wind direction,degree,°,NaN,NaN,2025-10-09 15:07:06.75375+00,2025-10-09 15:07:06.75375+00
9,10,wind_gusts,Wind gusts,metre per second,m/s,NaN,NaN,2025-10-09 15:07:06.75375+00,2025-10-09 15:07:06.75375+00
10,11,wind_speed,Wind speed,metre per second,m/s,NaN,NaN,2025-10-09 15:07:06.75375+00,2025-10-09 15:07:06.75375+00

## Measurement

In [86]:
df_meas = pd.read_excel("data/data-1761378695532.xlsx").dropna().rename(columns={"station_id": "experimental_unit"})
df_meas["ts"] = pd.to_datetime(df_meas["ts"])
df_meas["hour"] = df_meas["ts"].dt.strftime("%H")
df_meas["year"] = df_meas["ts"].dt.year
df_meas["month"] = df_meas["ts"].dt.strftime("%Y-%m")   # formatted year-month
df_meas["date"] = df_meas["ts"].dt.strftime("%Y-%m-%d") # formatted date
df_meas = df_meas[["experimental_unit", "hour", "date", "year", "month", "variable_code", "value", "ts"]]
df_meas = df_meas.pivot_table(
    index=["experimental_unit", "hour", "date", "year", "month", "ts"],
    columns="variable_code",
    values="value"
).reset_index()
df_meas = df_meas.drop("ts", axis=1)
# df_meas.to_csv("output/ft_meas.csv", index=False)
df_meas

variable_code,experimental_unit,hour,date,year,month,air_humidity,air_pressure,air_temperature,rainfall
0,1325,00,2025-10-11,2025,2025-10,88.00,NaN,13.8500,0.0
1,1325,00,2025-10-12,2025,2025-10,77.50,NaN,14.5000,0.0
2,1325,00,2025-10-13,2025,2025-10,75.50,NaN,14.6500,0.0
3,1325,00,2025-10-14,2025,2025-10,100.00,NaN,13.3500,0.0
4,1325,00,2025-10-15,2025,2025-10,88.00,NaN,11.7500,0.0
...,...,...,...,...,...,...,...,...,...
1510,2382,23,2025-10-18,2025,2025-10,67.75,NaN,12.4125,0.0
1511,2382,23,2025-10-19,2025,2025-10,68.25,NaN,12.4300,0.0
1512,2382,23,2025-10-20,2025,2025-10,87.00,NaN,12.6950,1.4
1513,2382,23,2025-10-21,2025,2025-10,91.00,NaN,11.9025,0.0
1514,2382,23,2025-10-22,2025,2025-10,94.75,NaN,12.4175,0.0

## Time

In [87]:
dt_date = df_meas[["date", "year", "month"]].drop_duplicates()
dt_date.to_csv("output/dt_date.csv", index=False)
df_meas.drop(["year", "month"], axis=1).to_csv("output/ft_meas.csv", index=False)
dt_date

variable_code        date  year    month
0              2025-10-11  2025  2025-10
1              2025-10-12  2025  2025-10
2              2025-10-13  2025  2025-10
3              2025-10-14  2025  2025-10
4              2025-10-15  2025  2025-10
5              2025-10-16  2025  2025-10
6              2025-10-17  2025  2025-10
7              2025-10-18  2025  2025-10
8              2025-10-19  2025  2025-10
9              2025-10-20  2025  2025-10
10             2025-10-21  2025  2025-10
11             2025-10-22  2025  2025-10
12             2025-10-23  2025  2025-10
85             2025-10-10  2025  2025-10

## Stazione - Campo - Azienda

In [88]:
df_stations = pd.read_csv("data/data-1761575739295.csv")
df_stations

,station_id,name,name_raw,network,geom,elevation_m,active_from,active_to,country,region,province,city,toponym,street,farm,created_at,updated_at,longitude,latitude
0,1325,Macerata Montalbano,Macerata Montalbano,dpcn-marche,0101000020E61000009FABADD85FD62A407E74EACA67A5...,0.0,NaN,NaN,Italy,NaN,NaN,NaN,NaN,NaN,NaN,2025-10-12 15:45:19.809223+00,2025-10-27 14:11:55.53135+00,13.41870,43.29223
1,2147,Rolo,Rolo,locali,0101000020E6100000C80C54C6BFBF2540B79C4B715571...,20.0,NaN,NaN,Italy,NaN,NaN,NaN,NaN,NaN,NaN,2025-10-12 15:46:23.938545+00,2025-10-27 14:13:05.495575+00,10.87451,44.88542
2,2262,S Pietro Capofiume,S. Pietro Capofiume,locali,0101000020E6100000E65C8AABCA3E2740B2632310AF53...,10.0,NaN,NaN,Italy,NaN,NaN,NaN,NaN,NaN,NaN,2025-10-12 15:46:33.070007+00,2025-10-27 14:13:15.170361+00,11.62264,44.65378
3,2341,Sant'Apollinare Cmt,Sant'Apollinare CMT,dpcn-veneto,0101000020E610000049F4328AE5A62740DCD781734684...,5.0,NaN,NaN,Italy,NaN,NaN,NaN,NaN,NaN,NaN,2025-10-12 15:46:39.269325+00,2025-10-27 14:13:21.807337+00,11.82597,45.03340
4,2382,Sasso Marconi Arpa,Sasso Marconi Arpa,locali,0101000020E6100000EC51B81E857B26402384471B4738...,275.0,NaN,NaN,Italy,NaN,NaN,NaN,NaN,NaN,NaN,2025-10-12 15:46:42.46039+00,2025-10-27 14:13:25.238709+00,11.24125,44.43967

In [89]:
df_campi = pd.read_csv("data/CAI - Flusso Campo Prova.csv").dropna().rename(columns={"id-azienda": "id_azienda"})
df_campi["Coordinate GPS"] = df_campi["Coordinate GPS"].apply(lambda x: x.replace(",", "."))
df_campi["latitude"] = df_campi["Coordinate GPS"].apply(lambda x: float(x.split(" ")[0]))
df_campi["longitude"] = df_campi["Coordinate GPS"].apply(lambda x: float(x.split(" ")[3]))
df_campi.info()
df_campi

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_azienda      5 non-null      int64
 1   id_campo        5 non-null      int64
 2   Coordinate GPS  5 non-null      object
 3   latitude        5 non-null      float64
 4   longitude       5 non-null      float64
dtypes: float64(2), int64(2), object(1)
memory usage: 240.0+ bytes

   id_azienda  id_campo             Coordinate GPS   latitude  longitude
0           1         1  44.604270 N - 11.560234 E  44.604270  11.560234
1           2         1  45.007509 N - 11.751587 E  45.007509  11.751587
2           3         1  43.234749 N - 13.351375 E  43.234749  13.351375
3           4         1  44.875287 N - 10.835891 E  44.875287  10.835891
4           5         1  44.460924 N - 11.244618 E  44.460924  11.244618

In [90]:
df_azienda = pd.read_csv("data/CAI - Flusso Azienda Agricola.csv").dropna()
df_azienda

   id_azienda      Provincia        Località               Comune
0           1        Bologna        Dugliolo               Budrio
1           2         Rovigo  Arquà Polesine       Arquà Polesine
2           3       Macerata          Rancia            Tolentino
3           4  Reggio Emilia        Fabbrico             Fabbrico
4           5        Bologna         Tizzano  Casalecchio di Reno

In [91]:
gdf_stations = gpd.GeoDataFrame(df_stations, geometry=gpd.points_from_xy(df_stations.longitude, df_stations.latitude), crs="EPSG:4326")
gdf_campi = gpd.GeoDataFrame(df_campi, geometry=gpd.points_from_xy(df_campi.longitude, df_campi.latitude), crs="EPSG:4326")

joined = gpd.sjoin_nearest(
    gdf_stations, gdf_campi,
    how="left",  # keep all from left table
    distance_col="distance"
)

joined = joined.sort_values('distance') #.drop_duplicates('id1')
joined

/usr/local/lib/python3.13/site-packages/geopandas/array.py:408: UserWarning: Geometry is in a geographic CRS. Results from 'sjoin_nearest' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  warnings.warn(

,station_id,name,name_raw,network,geom,elevation_m,active_from,active_to,country,region,...,longitude_left,latitude_left,geometry,index_right,id_azienda,id_campo,Coordinate GPS,latitude_right,longitude_right,distance
4,2382,Sasso Marconi Arpa,Sasso Marconi Arpa,locali,0101000020E6100000EC51B81E857B26402384471B4738...,275.0,NaN,NaN,Italy,NaN,...,11.24125,44.43967,POINT (11.24125 44.43967),4,5,1,44.460924 N - 11.244618 E,44.460924,11.244618,0.021519
1,2147,Rolo,Rolo,locali,0101000020E6100000C80C54C6BFBF2540B79C4B715571...,20.0,NaN,NaN,Italy,NaN,...,10.87451,44.88542,POINT (10.87451 44.88542),3,4,1,44.875287 N - 10.835891 E,44.875287,10.835891,0.039926
3,2341,Sant'Apollinare Cmt,Sant'Apollinare CMT,dpcn-veneto,0101000020E610000049F4328AE5A62740DCD781734684...,5.0,NaN,NaN,Italy,NaN,...,11.82597,45.03340,POINT (11.82597 45.0334),1,2,1,45.007509 N - 11.751587 E,45.007509,11.751587,0.078760
2,2262,S Pietro Capofiume,S. Pietro Capofiume,locali,0101000020E6100000E65C8AABCA3E2740B2632310AF53...,10.0,NaN,NaN,Italy,NaN,...,11.62264,44.65378,POINT (11.62264 44.65378),0,1,1,44.604270 N - 11.560234 E,44.604270,11.560234,0.079660
0,1325,Macerata Montalbano,Macerata Montalbano,dpcn-marche,0101000020E61000009FABADD85FD62A407E74EACA67A5...,0.0,NaN,NaN,Italy,NaN,...,13.41870,43.29223,POINT (13.4187 43.29223),2,3,1,43.234749 N - 13.351375 E,43.234749,13.351375,0.088525

In [92]:
joined.columns

Index(['station_id', 'name', 'name_raw', 'network', 'geom', 'elevation_m',
       'active_from', 'active_to', 'country', 'region', 'province', 'city',
       'toponym', 'street', 'farm', 'created_at', 'updated_at',
       'longitude_left', 'latitude_left', 'geometry', 'index_right',
       'id_azienda', 'id_campo', 'Coordinate GPS', 'latitude_right',
       'longitude_right', 'distance'],
      dtype='object')

In [93]:
df_crop = pd.read_csv("data/CAI - Flusso Cultura.csv").dropna().rename(columns={"Id_azienda": "id_azienda", "Id_campo": "id_campo"})
df_crop

   id_azienda  id_campo         Specie        Varietà
0           1         1  Frumento Duro         Cesare
1           2         1  Frumento Duro         Cesare
2           3         1  Frumento Duro         Cesare
3           4         1   Vite da vino  Malbo Gentile
4           5         1   Vite da vino     Chardonnay

In [94]:
joined2 = joined[["station_id", "name", "id_campo", "id_azienda", "latitude_left", "longitude_left"]] \
    .merge(df_azienda, on="id_azienda") \
    .merge(df_crop, on=["id_azienda", "id_campo"]) \
    .rename(columns={
        "station_id": "experimental_unit",
        "name": "name",
        "id_campo": "field_trial_site",
        "id_azienda": "farm",
        "Località": "location",
        "Comune": "city",
        "Provincia": "province",
        "latitude_left": "latitude",
        "longitude_left": "longitude",
        "Specie": "species",
        "Varietà": "variety",
    })
joined2.to_csv("output/dt_station.csv", index=False)
joined2

,experimental_unit,name,field_trial_site,farm,latitude,longitude,province,location,city,species,variety
0,2382,Sasso Marconi Arpa,1,5,44.43967,11.24125,Bologna,Tizzano,Casalecchio di Reno,Vite da vino,Chardonnay
1,2147,Rolo,1,4,44.88542,10.87451,Reggio Emilia,Fabbrico,Fabbrico,Vite da vino,Malbo Gentile
2,2341,Sant'Apollinare Cmt,1,2,45.03340,11.82597,Rovigo,Arquà Polesine,Arquà Polesine,Frumento Duro,Cesare
3,2262,S Pietro Capofiume,1,1,44.65378,11.62264,Bologna,Dugliolo,Budrio,Frumento Duro,Cesare
4,1325,Macerata Montalbano,1,3,43.29223,13.41870,Macerata,Rancia,Tolentino,Frumento Duro,Cesare